* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/* LAYOUT */

.main-layout {
    /* margin-left: 20px;
    margin-right: 20px; */
    width: 600px;
    margin: auto;
}

/* COMPONENTS */

/* HEADER */

header {
    padding: 0 1.56rem 0 1.56rem;
}

/* GALLERY */

.main-gallery .pic{
    object-fit: cover;
    height: 197px;
    cursor: pointer;
}

/* .img-1 {
    object-fit: cover;
    height: 100px;
} */

/* MEME EDITOR */

.main-content {
    background-color: #e3e3e3;
    padding: 13px 25.5px;
}

.main-controls {
    width: 270px;
    height: 270px;
    padding: 20px;
}

.meme-text{
    border: none;
    height: 30px;
}

.switch-add-delete, .font-size-align{
    padding: 10px;
    gap: 10px;
}

.switch-add-delete > button, .font-size-align > button{
    height: 30px;
    width: 30px;
}

.switch-add-delete > button > img, .font-size-align > button > img{
    object-fit: cover;
    height: 19px;
    object-position: center;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.column{
    flex-direction: column;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}