* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

html {
    font-family: montserrat, serif;
    font-size: 10px;
}

body {
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

/* LAYOUT */

.main-layout {
    /* margin-left: 20px;
    margin-right: 20px; */
    width: 600px;
    margin: auto;
}

/* COMPONENTS */

/* HEADER */

header {
    padding: 0 1.56rem 0 1.56rem;
    background-color: #ff7f00;
    height: 33px;
}

.logo img {
    object-fit: cover;
    height: 11px;
}

nav ul {
    gap: 10px;
}

nav ul li {
    height: 23px;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: normal;
    color: #fff;
}

.gallery-li{
    color: #000;
    height: 100%;
}


/* MEME EDITOR */

canvas {
    cursor: grab;
}

.main-content {
    background-color: #e3e3e3;
    padding: 13px 25.5px;
}

.main-controls {
    width: 270px;
    height: 270px;
    padding: 20px;
}

.meme-text {
    border: none;
    height: 30px;
}

.switch-add-delete, .font-size-align {
    padding: 10px;
    gap: 10px;
}

.switch-add-delete>button, .font-size-align>button {
    height: 30px;
    width: 30px;
}

.switch-add-delete>button>img, .font-size-align>button>img {
    object-fit: cover;
    height: 19px;
    object-position: center;
}

/* SEARCH BAR */

.search-bar {
    background-color: #ffffff;
}

/* GALLERY */

.main-gallery{
    background-color: #e3e3e3;
    padding: 13.5px 20px;
}

.main-gallery .pic {
    object-fit: cover;
    height: 176px;
    margin: 3px;
    cursor: pointer;
}

/* FOOTER */

footer{
    height: 103.5px;
    background-color: #ff7f00;
}

.all-rights{
    color: #fff;
    font-weight: 100;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.column {
    flex-direction: column;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}